name: Wine-32on64-WoW64 CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build Wine
        run: |
          sudo apt install debootstrap perl git wget xz-utils bubblewrap autoconf
          chmod +x create_ubuntu_bootstraps.sh build_wine.sh
          sudo ./create_ubuntu_bootstraps.sh
          export WINE_VERSION="latest"
          export EXPERIMENTAL_WOW64="true"
          WINE_BRANCH=vanilla ./build_wine.sh
          WINE_BRANCH=staging ./build_wine.sh
      - uses: actions/upload-artifact@v3
        with:
          name: Wine-32on64-WoW64
          path: ./*.tar.xz
